<h2 id='dash_port_title'>GA Users</h2>

<% if can? :manage, User %>
  <div id='add_new_button'>
  <%= button_to 'Add New User', new_user_path, method: :get, class: 'btn btn-default btn-xs' %>
  </div>
<% end %>

<section id='users_table'>
  <table class='table table-striped'>

    <col class='col_user_name'/>
    <col class='col_user_email'/>
    <col class='col_user_cohorts'/>
    <col class='col_user_role'/>
    <col class='col_user_actions'/>

    <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Current Cohorts</th>
      <th>System Role</th>
      <th><!-- Actions --></th>
    </tr>
    <div id="users">
      <%= render @users %>
    </div>
  </table>
</section>