body {
  font-family: 'Lato', sans-serif;
}

sub {
  margin-bottom: 20px;
}

header {

  margin: 50px auto 50px auto;
  text-align: center;
}

main {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 150px;
}

menu {
  margin: 50px auto;
  padding: 0;
}

.actions {
  margin: 10px 0;
}

menu form {
  display: inline;
}

.booking_req {
  display: inline-block;
  margin-right: 10px;
}

#locations {
  display: inline-block;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 25px;
  border-bottom: 3px solid gray;
}


.location_port {
  width: 100%;
  padding: 1%;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.location_port h2 {
  margin: 0 0 10px 0;
  min-height: 40px;
  font-size: 20px;
  color: #0f92bd;
}

.location_port p {
  color: #a9a9a9;
  margin: 0;
  font-weight: 300;
}


.location_port form {
  display: inline-block;
}

.location_port .btn {
  padding: 0;
  font-size: 11px;
  width: 50px;
  font-weight: 300;
  margin-top: 20px;
}

.col_user_actions {
  width: 140px;
  text-align: right;
}

table .btn {
  font-size: 9px;
  float: right;
  margin-left: 3px;
}

#classroom_calendar {
  float: right;
  min-height: 380px;
}

#classroom_bookings_table {
  clear: both;
}