body {
  font-family: 'Lato', sans-serif;
}

.navbar {
  border: none;
}

.flash-message {
  text-align: center;
  padding: 5px 0;
  background-color: rgba(100,100,100,0.5);
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

.flash-message p {
  margin-bottom: 0;
  color: white;
}

.actions {
  margin: 10px 0;
}

menu form {
  display: inline;
}

.booking_req {
  display: inline-block;
  margin-right: 10px;
}

#locations {
  display: inline-block;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 25px;
  border-bottom: 3px solid gray;
}

#dash_new_booking_port {
  padding: 0 15px 25px 15px;
  margin-bottom: 25px;
  border-bottom: 3px solid gray;
  background-color: #dff0d8;
  display: none;
}

#dash_new_booking_port h2 {
  margin-top: 0;
}

.location_port {
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;
  display: inline-table;
  vertical-align: top;
  background-color: rgba(183, 183, 183, 0.5);
}

.location_port h2 {
  margin: 0 0 10px 0;
  min-height: 40px;
  font-size: 20px;
  color: #0f92bd;
}

.location_port p {
  color: #a9a9a9;
  margin: 0;
  font-weight: 300;
}

.location_port form {
  display: inline-block;
}

.port_buttons {
  margin: 10px 0;  
}

.port_buttons .btn {
  padding: 0;
  font-size: 11px;
  width: 50px;
  font-weight: 300;
}

.port_buttons .btn-long {
  width: 100px;
}

.location_classroom_port {
  width: 480px;
  margin: 5px;
  display: inline-block;
  background-color: rgba(255,255,255,0.95);
  border-radius: 3px;
  padding: 5px;
}

.course_cohort_port {
  width: 490px;
  margin: 5px;
  display: inline-block;
  background-color: rgba(255,255,255,0.95);
  border-radius: 3px;
  padding: 5px;
}

.col_user_actions {
  width: 140px;
  text-align: right;
}

table .btn {
  font-size: 9px;
  float: right;
  margin-left: 3px;
}

#classroom_show_buttons form {
  display: inline-block;
}

#classroom_calendar {
  float: right;
  min-height: 380px;
}

#classroom_bookings_table {
  clear: both;
}

#enrollment_name {
  margin: 50px 0 10px 0;
}

#view_bookings_button_frame {
  float: right;
  margin-top: -35px;
}

#view_bookings_button {
  margin-right: 0;
}

#add_new_button {
  float: right;
  margin-top: 30px;
}

#dash_port_title {
  float: left;
}

#location_details p {
  color: black;
  font-weight: 400;
  display: inline-block;
  margin: 10px 10px 20px 10px; 
}