body {
  font-family: 'Lato', sans-serif;
}

sub {
  margin-bottom: 20px;
}

header {

  margin: 0 auto 50px auto;
  padding: 30px 0 20px 0;
  background-color: rgba(183, 183, 183, 0.5);
  text-align: center;
}

.right-nav {
  margin-top: 20px;
}

.right-nav p {
  margin: 0;
}

main {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 150px;
}

menu {
  margin: 50px auto;
  padding: 0;
}

.actions {
  margin: 10px 0;
}

menu form {
  display: inline;
}

.booking_req {
  display: inline-block;
  margin-right: 10px;
}

#locations {
  display: inline-block;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 25px;
  border-bottom: 3px solid gray;
}


.location_port {
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;
  display: inline-table;
  vertical-align: top;
  background-color: rgba(183, 183, 183, 0.5);
}

.location_port h2 {
  margin: 0 0 10px 0;
  min-height: 40px;
  font-size: 20px;
  color: #0f92bd;
}

.location_port p {
  color: #a9a9a9;
  margin: 0;
  font-weight: 300;
}

.location_port form {
  display: inline-block;
}

.location_port .btn {
  padding: 0;
  font-size: 11px;
  width: 50px;
  font-weight: 300;
  margin: 10px 0;
}

.location_port .btn-long {
  width: 100px;
}

.location_classroom_port {
  width: 490px;
  margin: 5px;
  display: inline-block;
  background-color: rgba(255,255,255,0.95);
  border-radius: 3px;
  padding: 5px;
}

.course_cohort_port {
  width: 490px;
  margin: 5px;
  display: inline-block;
  background-color: rgba(255,255,255,0.95);
  border-radius: 3px;
  padding: 5px;
}

.col_user_actions {
  width: 140px;
  text-align: right;
}

table .btn {
  font-size: 9px;
  float: right;
  margin-left: 3px;
}

#classroom_show_buttons form {
  display: inline-block;
}

#classroom_calendar {
  float: right;
  min-height: 380px;
}

#classroom_bookings_table {
  clear: both;
}

#enrollment_name {
  margin: 50px 0 10px 0;
}

#view_bookings_button {
  float: right;
  margin-top: -35px;
}

#add_new_button {
  float: right;
  margin-top: 30px;
}

#dash_port_title {
  float: left;
}

#location_details p {
  color: black;
  font-weight: 400;
  display: inline-block;
  margin: 10px 10px 20px 10px; 
}